.root {
  padding: 40px;
  font-family: 'Comic Neue', cursive;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(147, 151, 203, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: none; */
  z-index: 3;
}

.modal__container {
  position: relative;
  top: 10%;
  left: 25%;
  width: 550px;
  min-height: 230px;
  background-color: #fff;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 40px 40px;
  /* display: none; */
}

.modal__container-form {
  width: 550px;
  min-height: 230px;
  background-color: #fff;
  border-radius: 12px;
  position: relative;
  box-sizing: border-box;
  padding: 40px 40px;
}

.hidden {
  display: none;
}


.btn-sm {
  min-width: 100px;
}

/* .modal-product {
  display: none;
} */



.product-email {
  display: none;
}

.error {
  border-color: #dc3545;
}

.product-delivery {
  display: none;
}

.table-filters, .input-group {
  border: 1px solid white;
}

.table-filters .input-group {
  border: 1px solid white;
}

.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
  border-color: #6c757d;
  border-radius: 8px;
}

.btn  {
  border-radius: 8px;
  min-width: 100px;
}

.cell-title {
  font-size: 18px;
  cursor: pointer;
}
.name-cell {
  display: flex;
  justify-content: space-between;
}

/* table .name-cell {
  border: 0;
} */

.count {
  min-width: 36px;
  height: 24px;
  background-color: grey;
  border-radius: 11px;
  text-align: center;
  color: white;
  font-weight: 500;
}

.action-cell {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.table-bordered td {
  border: 0;
}

.row-tabel {
  border: 1px solid #dee2e6;
}

table .product-price {
  border: 1px solid #dee2e6;
}

.search-input {
  min-width: 254px;
  margin-right: 40px;
}
tbody td {
  width: 350px;
}

.add-btn-cell {
  display: flex;
}

.add-btn-cell a {
  margin-left: auto;
}

.cell-title-sort {
  position: relative;
}

/* .cell-title-sort-up {
  position: relative;
} */


 .cell-title-sort::after {
  content: "";
  position: absolute;
  right: 9px;
  top: 23px;
  border: 9px solid transparent;
  border-top-color: grey;
 }

 .cell-title-sort-up::after {
  content: "";
  position: absolute;
  right: 9px;
  top: 11px;
  border: 9px solid transparent;
  border-top-color: grey;
  transform: rotate(180deg);
 }


 .select-container__modal {
  color: black;
  width: 170px;
  min-height: 140px;
  padding: 15px;
border-radius: 8px;
  border: 2px solid #dee2e6;
}

.select-container {
  display: flex;
  justify-content: space-between;
}

.select-delivery {
  width: 250px;
  font-size: 1rem;
  margin-bottom: 50px;
}
.select-all {
  position: relative;
}
.select-all::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 9px;
  width: 142px;
  height: 1px;
  background-color: grey;
}

.btn-save {
  width: 120px;
}

.btn-cancel-popup {
 width: 30px ;
}